@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  @apply bg-slate-900 text-white;

  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply text-base bg-slate-800 rounded-lg;

  margin: 0.5rem;
  padding: 2rem;
}

option {
  @apply bg-gray-700 text-white;

  appearance: none;
  -webkit-appearance: none;
}

@media (min-width: 300px) {
  body {
    @apply text-2xl;
  }

  h3 {
    @apply text-4xl;
  }
}

@media (min-width: 768px) {
  body {
    margin: 4rem;
    padding: 2rem;
  }
}

@media (min-width: 948px) {
  body {
    margin: 2rem 7rem;
    padding: 2rem 4rem;
  }
}

@media (min-width: 1024px) {
  body {
    margin: 4rem 9rem;
    padding: 3rem;
  }

  h3 {
    @apply text-5xl;
  }
}

@media (min-width: 1280px) {
  body {
    margin: 6rem 18rem;
    padding: 4rem;
  }
}

@media (min-width: 1536px) {
  body {
    margin: 6rem 40rem;
    padding: 6rem;
  }
}
