@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-900 text-white;
}

body {
  @apply text-base bg-slate-800 rounded-lg;

  margin: 0.5rem;
  padding: 2rem;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 300px) {
  body {
    @apply text-2xl;
  }

  h3 {
    @apply text-4xl;
  }
}

@media (min-width: 768px) {
  body {
    margin: 4rem;
    padding: 2rem;
  }
}

@media (min-width: 948px) {
  body {
    margin: 2rem 7rem;
    padding: 2rem 4rem;
  }
}

@media (min-width: 1024px) {
  body {
    margin: 4rem 9rem;
    padding: 3rem;
  }

  h3 {
    @apply text-5xl;
  }
}

@media (min-width: 1280px) {
  body {
    margin: 6rem 18rem;
    padding: 4rem;
  }
}

@media (min-width: 1536px) {
  body {
    margin: 6rem 40rem;
    padding: 6rem;
  }
}
